<fa-app style="width: 100%; height: 100%; position: absolute;">



    <fa-modifier fa-translate="timelineFor('left').translate(leftT.get())" fa-opacity="timelineFor('left').opacity(leftT.get())">

      <fa-modifier>
          <fa-surface fa-background-color="'red'" fa-size="[undefined, undefined]" fa-click="goRight()">
          </fa-surface>
      </fa-modifier>

    </fa-modifier>

    <fa-modifier fa-translate="timelineFor('right').translate(rightT.get())" fa-opacity="timelineFor('right').opacity(rightT.get())">
      <fa-modifier>
        <fa-surface fa-background-color="'blue'" fa-size="[undefined, undefined]" fa-click="goLeft()">
        </fa-surface>
      </fa-modifier>
    </fa-modifier>

</fa-app>
