<fa-app style="width: 100%; height: 100%; position: absolute;">

  <trifold pipe-from="events" timeline="t">

    <fa-modifier>
        <fa-surface fa-background-color="'yellow'" fa-size="[230, undefined]" fa-pipe-to="events">
        </fa-surface>
    </fa-modifier>

    <fa-modifier fa-size="[undefined, undefined]">
      <fa-surface fa-background-color="'red'" fa-pipe-to="events">
      </fa-surface>
      <fa-modifier fa-size="[40, 40]" fa-translate="[20, 20]">
        <fa-surface fa-background-color="'yellow'" fa-click="left()">
        </fa-surface>
      </fa-modifier>
      <fa-modifier fa-size="[40, 40]" fa-origin="[1, 0]" fa-translate="[-20, 20]">
        <fa-surface fa-background-color="'blue'" fa-click="right()">
        </fa-surface>
      </fa-modifier>
    </fa-modifier>

    <fa-modifier>
      <fa-surface fa-background-color="'blue'" fa-size="[230, undefined]" fa-pipe-to="events">
      </fa-surface>
    </fa-modifier>

  </trifold>


</fa-app>
